<script type="text/x-handlebars-template" id="template">
	<div class="content container">
		<div class="main-content">
			<div class="text-center">
				<h1>Xem phim trên nền tảng trực tuyến miễn phí</h1>
				<h2>Hòa mình vào thế giới xi nê</h2>
				<h2>Thăng hoa cùng những cung bậc cảm xúc</h2>
			</div>
			<div class="form-group text-center">
				<button type="button" class="btn btn-lg btn-danger" onclick="renderRegisterForm()">Đăng ký ngay</button>
			</div>
		</div>
		<div class="message-container"></div>
	</div>
</script>