<script type="text/x-handlebars-template" id="template">
	<div class="footer">
		<nav class="navbar navbar-inverse navbar-fixed-bottom">	
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-6">
						<div class="menu-sub-footer">
							<ul class="nav navbar-nav" id="menu-info-list">
								<li>
									<a href="#" target="_blank">Copyright &copy; 2022</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="menu-social-container">
							<ul class="nav navbar-nav navbar-right" id="footer-icon-list">
								<li>
									<a href="https://www.facebook.com/blowMyMind123" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>	
								</li>	
								<li>
									<a href="https://www.instagram.com/jsjsnjsnsnsjs/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>								
								</li>	
								<li>
									<a href="https://www.youtube.com/watch?v=oHg5SJYRHA0" target="_blank"><i class="fa fa-youtube-play fa-lg" ></i></a>								
								</li>	
							</ul>
						</div>
					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
		</nav>
	</div>
</script>