<script type="text/x-handlebars-tempalte" id="template">
	{{#each this}}
	<div class="row">
		<div class="col-sm-2">
			<div class="card">
				<div class="card-image">
					<div class="watchlist-container">
						<a href="javascript: void(0)" class="card-watchlist-btn">
					  		<i class="fa fa-bookmark fa-lg" data-toggle="tooltip" title="Thêm vào danh sách theo dõi" onclick="addToWatchlist(event)"></i>
					  	</a>
					</div>
					<img src="{{url}}">
			  		<div class="btn-container">
			  			<button type="button" class="btn btn-danger card-watch-btn btn-block">Xem</button>	
			  		</div>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</script>